
<footer class="flex justify-center items-center h-24 bg-gray-100 text-slate-800">
    <p>
      Built with{" "}
      <span role="img" aria-label="heart">
        ❤️
      </span>{" "}
      by{" "}
      <a href="https://ryan-james.dev" class="underline decoration-4 text-orange-500 hover:text-orange-700">Ryan James</a>
      </p>
</footer>