
<header class="w-screen flex justify-center items-center mt-2 lg:py-2 pt-2">
    <h1 class="text-black lg:text-6xl text-5xl overpass-regular underline decoration-4 decoration-[#8AA8A1]">Word of the Day</h1>
</header>

<style>
    .overpass-regular {
        font-family: 'Overpass', sans-serif;
        font-weight: 500;
    }
</style>